class ${1:ModelName}(models.Model):
    """${2:doc string}"""

    ${4}

    def __unicode__(self):
        return ${3:}

    def __str__(self):
        return $3

    class Meta:
        verbose_name = '$1'
        verbose_name_plural = '$1s'
